.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  font-family: 'PT Serif', serif;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.zoom {
  padding: 0px;
  transition: transform .2s;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
body {
    font-family: 'PT Mono', monospace;
}
h1{
    font-family: 'PT Serif', serif;
}
h3{
    font-family: 'PT Serif', serif;
    font-color: 'White';
}
p{
    font-family: 'PT Mono', monospace;
}